*{
    /*border: 1px solid red;*/
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
}
.container{
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
.btn_img{
    width: 5vw;
}
.main_pageBG{
    width: 100vw;
    height: 100vh;
    background-image: url(rcs/me_pic.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.main_pageBG .container_mainPG{
    position: absolute;
    bottom: 15vh;
    left: 5vw;
}
.devTitle{
    width: 25vw;
}
.main_btn{
    border: 3px solid #454545;
    filter: drop-shadow(12px 12px 4px #999999);
    margin-right: 10px;
    height: 3vh;
    width: 8vw;
    transition: .3s;
}
.main_btn:hover{
    filter: drop-shadow(2px 2px 4px #999999);
}
.mainSec{
    background-image: linear-gradient(to right, #CFCFCF , #B7B7B7);
    filter: drop-shadow(0px 10px 10px #000000);
}
.imgContainer{
    height: 97vh;
    width: 50vw;
    
    
}
.imgContainer2{
    height: 380px;
    min-width: 250px;
    width: 20vw;
    position: absolute;
    top: 25vh;
    background-image: url(my_name_dev.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-content: center;
}
main{
    align-content: center;
}

.secTwo{
    background-color: #D9D9D9;
    width: 100vw;
    height: 100vh;
}